<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutdoorActivityWeather</title>
</head>
<body>
    <main>
        <div>
            <p><%= user%></p>
            <a href="/weather/new">Create New location</a>
            <% for (weather of weathers) { %>
                <article>
                    <a href="/weather/<%= location._id %>">
                        <h2>
                            <%= location.name %>
                        </h2>
                    </a>
                </article>
            <% } %>
        </div>
    </main>
</body>
</html>