<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutdoorActivityWeather</title>
</head>
<body>
    <main>
        <div>
            <form action="/location" method="post">
                <fieldset>
                    <legend>Create a new location</legend>
                    <label>Location: <input required type="text" name="name" placeholder="enter location"/></label>
                    <label>Activity: <input required type="text" name="name" placeholder="enter activity"/></label>
                    <label>Temperature: <input required type="number" name="number" placeholder="enter temperature"/></label>
                    <label>Wind Speed: <input required type="number" name="number" placeholder="enter wind speed"/></label>
                    <label>Precipitation: <input required type="text" name="name" placeholder="enter precipitation"/></label>
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>